@using LMS.Shared.DTOs
@inject NavigationManager NavigationManager

<div class="activity" @onclick="NavigateToActivity" style="cursor:pointer;">
    <h5>@Activity.Name</h5>
    <p>@Activity.Description</p>
    <small>
        Start: @Activity.StartDate.ToShortDateString() <br />
        End: @Activity.EndDate.ToShortDateString()
    </small>
</div>

@code {
    [Parameter, EditorRequired]
    public ActivityReadDto Activity { get; set; } = default!;

    private void NavigateToActivity()
    {
        NavigationManager.NavigateTo($"/activity/{Activity.Id}");
    }
}