@using LMS.Shared.DTOs
@inject NavigationManager NavigationManager

<div class="card mb-3 shadow-sm activity-card"
     @onclick="NavigateToActivity"
     @onclick:stopPropagation="true">
    <div class="card-body">
        <h5 class="card-title">@Activity.Name</h5>
        <p class="card-text text-muted">@Activity.Description</p>

        <small class="text-secondary">
            <i class="bi bi-calendar-event"></i>
            @Activity.StartDate.ToShortDateString()
            -
            @Activity.EndDate.ToShortDateString()
        </small>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ActivityReadDto Activity { get; set; } = default!;

    [Parameter] public int CourseId { get; set; }

    [Parameter] public int ModuleId { get; set; }

    private void NavigateToActivity()
    {
        NavigationManager.NavigateTo($"/activity/{CourseId}/{ModuleId}/{Activity.Id}");
    }
}