<ErrorBoundary @ref="CreateCourseFormErrorBoundary">
    <ChildContent>
        <form class="d-flex flex-column gap-2" method="post" @onsubmit="SubmitAsync" @formname="create-course-form">
            <div class="mb-3">
                <label for="courseName" class="form-label">Course Name</label>
                <InputText @bind-Value="Model!.Name" type="text" class="form-control" id="courseName" aria-describedby="courseNameHelp" />
                <div id="courseNameHelp" class="form-text">Add a descriptive name for the course.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <InputTextArea 
                    @bind-Value="Model!.Description"
                    class="form-control" 
                    id="courseDescription" 
                    rows="3" 
                    aria-describedby="courseDescriptionHelp">
                </InputTextArea>
                <div id="courseDescriptionHelp" class="form-text">Describe the course content.</div>
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="startDate">Start date</label>
                <InputDate 
                    @bind-Value="Model!.StartDate" 
                    class=""
                    id="startDate"/>
                <div id="startDateHelp" class="form-text">Set the start date for the Course.</div>
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="endDate">End date</label>
                <InputDate 
                    @bind-Value="Model!.EndDate" 
                    class=""
                    id="endDate"/>
                <div id="endDateHelp" class="form-text">Set the end date for the Course.</div>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="addCreator">Add me</label>
                <InputCheckbox 
                    @bind-Value="Model!.AddCreator"
                    type="checkbox" 
                    class="form-check-input" 
                    id="addCreator" 
                    aria-describedby="addCreatorHelp" />
                <div id="addCreatorHelp" class="form-text">Set this as your assigned Course.</div>
            </div>
            <div class="d-flex justify-content-end gap-2 w-100">
                @ModalCloseButton
                <button type="submit" class="btn btn-primary">Save and continue</button>
            </div>
        </form>
    </ChildContent>
    <ErrorContent>
        <div>
            <h3>Something went wrong...</h3>
            <button class="btn-link btn-primary" @onclick="() => CreateCourseFormErrorBoundary?.Recover()">Try to reload</button>
        </div>
    </ErrorContent>
</ErrorBoundary>


@code{
    [Inject]
    private IApiService ApiService { get; set; } = default!;

    [SupplyParameterFromForm]
    private CreateCourseCommandDto? Model { get; set; }

    [Parameter]
    public RenderFragment? ModalCloseButton { get; set; }

    private ErrorBoundaryBase? CreateCourseFormErrorBoundary { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model ??= new();
    }

    private async Task SubmitAsync() {
        if (Model == null) return;

        try
        {
            var response = await ApiService.PostAsync<CreateCourseResultDto, CreateCourseCommandDto>("api/courses", Model);
        } catch(Exception ex)
        {
            throw ex;
        }

    }
}