@using LMS.Shared.DTOs
@inject NavigationManager NavigationManager

<div class="module" @onclick="NavigateToModule" style="cursor:pointer;">
    <h4>@Module.Name</h4>
    <p>@Module.Description</p>
    <small>
        Start: @Module.StartDate.ToShortDateString() <br />
        End: @Module.EndDate.ToShortDateString()
    </small>

    <div class="activities">
        @foreach (var activity in Activities)
        {
            <ActivityComponent Activity="activity" />
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public CourseModuleListItemDto Module { get; set; } = default!;

    [Parameter]
    public IEnumerable<ActivityReadDto> Activities { get; set; }

    private void NavigateToModule()
    {
        NavigationManager.NavigateTo($"/module/{Module.Id}");
    }
}