@inject NavigationManager Navigation

<div class="d-flex flex-column">
    <ul class="d-flex gap-2 list-unstyled border-bottom">
        @foreach (var item in NavItems)
        {
            <li>
                <NavLink 
                    title="@item.Title"
                    class="tab-nav-link text-decoration-none"
                    ActiveClass="active-nav-link text-primary"
                    href="@item.Href">
                    <div class="p-3">
                        @item.Title
                    </div>
                </NavLink>
            </li>
        }
    </ul>
    @ChildContent    
</div>

@code {
    [Parameter]
    public string[] TabTitles { get; set; } = [];

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [SupplyParameterFromQuery(Name = "tab")]
    private string CurrentTab { get; set; } = string.Empty;

    private List<Link> NavItems { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        NavItems = TabTitles.Select(title => new Link
        {
            Title = title,
            Href = CreateTagQueryFromTitle(title)
        }).ToList();

        if (string.IsNullOrWhiteSpace(CurrentTab) || !NavItems.Select(item => item.Href).ToList().Contains(CreateTagQueryFromTitle(CurrentTab)))
            Navigation.NavigateTo(NavItems.First().Href);
    }

    private bool IsCurrentTab(Link item) => CurrentTab != null && CreateTagQueryFromTitle(item.Title) == CreateTagQueryFromTitle(CurrentTab);

    private static string CreateTagQueryFromTitle(string input) => $"?tab={input.ToLower().Replace(" ", "-")}";
}
