@inject NavigationManager Navigation

<div class="d-flex flex-column">
    <ul class="d-flex gap-2 list-unstyled border-bottom">
        @foreach (var item in NavItems)
        {
            <li>
                <NavLink 
                title="@item.Title"
                class="tab-nav-link text-decoration-none"
                ActiveClass="active-nav-link text-primary"
                href="@item.Href">
                    <div class="p-3">
                        @item.Title
                    </div>
                </NavLink>
            </li>
        }
    </ul>
    @ChildContent    
</div>

@code {
    [Parameter]
    public string CurrentRoute { get; set; } = "/";

    [Parameter]
    public string[] TabTitles { get; set; } = [];

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [SupplyParameterFromQuery(Name = "tab")]
    private string CurrentTab { get; set; } = string.Empty;

    private List<Link> NavItems { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        NavItems = TabTitles.Select(title => new Link
            {
                Title = title,
                Href = CreateTabQueryFromTitle(title)
            }).ToList();

        if (string.IsNullOrWhiteSpace(CurrentTab) || !NavItems.Select(item => item.Href).ToList().Contains(CreateTabQueryFromTitle(CurrentTab)))
            Navigation.NavigateTo(NavItems.First().Href, forceLoad: true);
    }

    private bool IsCurrentTab(Link item) => CurrentTab != null && CreateTabQueryFromTitle(item.Title) == CreateTabQueryFromTitle(CurrentTab);

    private string CreateTabQueryFromTitle(string input) {
        var url = new Uri(Navigation.Uri);

        // If the current route does not contain any query parameters,
        // construct the query parameter for the tab.
        if (string.IsNullOrEmpty(url.Query))
        {
            return CurrentRoute + $"?tab={CreateSlug(input)}";
        }

        // If the current route contains query parameters,
        // include them when constructing the tab query.
        var currentQueryKeyValPairs = url.Query.Replace("?", "").Split("&");
        Dictionary<string, string> queries = new();
        foreach(var keyVal in currentQueryKeyValPairs)
        {
            var kv = keyVal.Split('=');
            if (kv.Count() == 2)
                queries.Add(kv[0], kv[1]);
        }

        queries["tab"] = CreateSlug(input);

        string fullQuery = "?";
        int i = 1;
        foreach(var kv in queries)
        {
            fullQuery += $"{kv.Key}={kv.Value + (i<queries.Count ? "&" : "")}";
            i++;
        }

        return CurrentRoute + fullQuery;
    }

    public static string CreateSlug(string input) => input.ToLower().Replace(" ", "-");
}
