@if (Model?.TimeCond == null)
{
    <div>
        Loading...
    </div>
}
else
{
    <div class="d-flex flex-column gap-2">
        <InputNumber @bind-Value="Model.ModuleId" type="hidden" />
        <div class="mb-3">
            <label for="activityName" class="form-label">Activity Name</label>
            <InputText @bind-Value="Model.Name"
                       type="text"
                       class="form-control"
                       id="activityName"
                       aria-describedby="activityNameHelp" />
 
            <ValidationMessage For="() => Model.Name" class="text-danger" />
            <div id="activityNameHelp" class="form-text">Add a descriptive name for this activity.</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Activity Type</label>
            <select class="form-select" @bind="Model.ActivityTypeId">
                @foreach (var type in ActivityTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <ValidationMessage For="@(() => Model.ActivityTypeId)" class="text-danger" />
        </div>
        <div class="mb-3">
            <label for="activityDescription" class="form-label">Description</label>
            <InputTextArea @bind-Value="Model!.Description"
                           class="form-control"
                           id="activityDescription"
                           rows="3"
                           aria-describedby="activityDescriptionHelp">
            </InputTextArea>
            <ValidationMessage For="() => Model.Description" />
            <div id="activityDescriptionHelp" class="form-text">Describe the activity.</div>
        </div>
        <div class="mb-3 d-flex flex-column gap-1">
            <label class="form-check-label" for="activityDuration">Hours</label>
            <InputNumber 
                @bind-Value:get="@durationValue" 
                @bind-Value:set="(val) => SetDuration(val)"
                min="1"
                max="365"
                class="form-control"
                id="activityDuration" />
        <div id="activityDurationHelp" class="form-text">How many hours is this activity?</div>
        </div>
        <div class="mb-3 d-flex gap-3">
            <div class="d-flex flex-column gap-1">
                <label class="form-check-label" for="startDate">Start date</label>
                <InputDate @bind-Value="Model.StartDate"
                           class="form-control"
                           id="startDate" />
                <ValidationMessage For="() => Model.StartDate" />
                <div id="startDateHelp" class="form-text">Set the start date for the Activity.</div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label class="form-check-label" for="endDate">End date</label>
                <InputDate @bind-Value="Model.EndDate"
                           class="form-control"
                           id="endDate" />
                <ValidationMessage For="() => Model.EndDate" />
                <div id="endDateHelp" class="form-text">Set the end date for the Activity.</div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public ActivityUpsertDto? Model { get; set; }

    [Parameter]
    public IReadOnlyList<ActivityTypeReadDto> ActivityTypes { get; set; } = [];

    private int durationValue { get => Model?.TimeCond?.Duration.Hours ?? 0; }
    private void SetDuration(int value)
    {
        if (Model?.TimeCond == null)
            return;

        var currentTimeCondition = Model.TimeCond;
        var duration = new TimeSpan(0, hours: value, 0, 0);

        Model.TimeCond = new DateRangeRequestDto
        {
            StartingAfter = Model.TimeCond.StartingAfter,
            EndingBefore = Model.TimeCond.EndingBefore,
            Duration = duration
        };

        Model.EndDate = Model.StartDate + duration;
    }
}
