@if (IsLoading || CourseDetails == null)
{
    <div>
        <h1 class="placeholder-glow">
            <span class="rounded placeholder col-3"></span>
        </h1>

        <p class="placeholder-glow">
            <span class="rounded placeholder col-3"></span>
        </p>
        <div class="text-secondary d-flex align-items-middle gap-2 placeholder-glow">
            <span class="rounded-circle placeholder my-auto" style="width: 20px; height: 20px;"></span> <span class="rounded placeholder col-1"></span> <span class="rounded placeholder col-1 rounded"></span>
        </div>
    </div>
} else
{
    <div>
        <h1>@CourseDetails.Name</h1>

        <p>@CourseDetails.Description</p>
        <div class="text-secondary d-flex align-items-middle gap-2">
            <CalendarIcon Size="20" /> @CourseDetails.StartDate.ToShortDateString() - @CourseDetails.EndDate.ToShortDateString()
        </div>
    </div>
}


@code {
    [Parameter]
    public CourseDetailsDto CourseDetails { get; set; } = default!;

    [Parameter]
    public bool IsLoading { get; set; }
}
